/* Global */

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2");
}

* {
  box-sizing: border-box;
}

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background: var(--color-primary-light);
  margin: 0;
}

address {
  font-style: normal;
}

footer {
  background: url("images/footer-background.png"),
    lightgray 50% / cover no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

.section-title .section-title-accent {
  color: var(--color-brand-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

/* Button */

.button-primary {
  padding: 16px 32px;
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-primary:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */

.nav-link {
  color: var(--color-primary-light);
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-light);
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

/* Hero section */

.hero-section {
  padding: 272px auto;
}

.hero-title {
  text-align: center;
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
  margin-bottom: 0;
}

/* .header-div {
  margin-left: auto;
  margin-right: auto;
} */

.hero-title .accent {
  color: var(--color-brand-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

/* Traditions section */
.traditions-text {
  color: var(--color-primary-dark);
}

.traditions-section {
  padding-top: 96px;
}

.traditions-text .par-accent-uppercase {
  color: var(--color-brand-light);
  font-weight: 600;
  text-transform: uppercase;
}

.traditions-text .par-accent-lowercase {
  color: var(--color-brand-light);
  font-weight: 600;
}
.traditions-title {
  margin-bottom: 42px;
}

/* Advantages section */

.advantages-list {
  color: var(--color-primary-light);
  background: var(--color-brand-light);
  backdrop-filter: blur(2px);
}

.advatages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Bakers section */

.baker-title {
  color: var(--color-primary-dark);
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 600;
}

.chefs-title {
  margin-bottom: 80px;
}

/* Formats section */
.formats-title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}
.formats {
  margin-bottom: 80px;
}

/* Contacts section */

.contacts-call-to-action {
  color: var(--color-brand-dark);
}

.contacts-title {
  margin-bottom: 16px;
}

/* Footer */

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
