/* Global */

:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  background: var(--color-primary-light);
}

address {
  font-style: normal;
}

/* Global title */

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

.section-title .section-title-accent {
  color: var(--color-brand-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 84px;
}

/* Global text */

/* Button */

.button-primary {
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-light);
  background-color: var(--color-brand-light);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button-primary:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

/* Link */

.nav-link {
  color: var(--color-primary-light);
  text-align: center;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--color-brand-light);
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
  font-size: 128px;
  font-weight: 900;
}

.hero-title .accent {
  color: var(--color-brand-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}

/* Traditions section */
.traditions-text {
  color: var(--color-primary-dark);
}

.traditions-text .par-accent-uppercase {
  color: var(--color-brand-light);
  font-weight: 600;
  text-transform: uppercase;
}

.traditions-text .par-accent-lowercase {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Advantages section */

.advantages-list {
  color: var(--color-primary-light);
  background: var(--color-brand-light);
  backdrop-filter: blur(2px);
}

.advatages-item {
  color: var(--color-primary-light);
  font-size: 20px;
  font-weight: 300;
}

/* Bakers section */

.bakers-title {
  color: var(--color-primary-dark);
  font-size: 40px;
  font-weight: 600;
}

/* Formats section */
.formats-title {
  color: var(--color-primary-light);
  font-size: 24px;
  font-weight: 600;
}

.formats-text {
  color: var(--color-primary-light);
  font-size: 14px;
  font-weight: 300;
}

/* Contacts section */

.contacts-call-to-action {
  color: var(--color-brand-dark);
}

/* Footer */

.address-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-link:hover {
  color: var(--color-brand-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}

.address-copyright {
  color: #a18268;
  font-size: 14px;
}
