.traditions-section {
	padding-top: 96px;
	&__container {
			display: flex;
			justify-content: space-between;
			gap: 40px;
		}
		&__content {
			max-width: 700px;
		}
		&__title {
			margin-bottom: 42px;
		}
		&__photo {
			border-radius: 400px 400px 0px 0px;
			flex-shrink: 0;
			flex-grow: 1;
		}
		&__text{
				&--limited{max-width: 340px;}
					
				}
}




